<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://qdhw.leaderhero.com/new2/20180127/WeiXin_v6.5.22%28os8.0%29_180127170423_app.tongbu.com.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://jabizb.cn/icon/largeImage.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tencent.xin.ymsoft</string>
				<key>bundle-version</key>
				<string>6.5.22</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>微信3-更多好玩关注公众号：jabizb</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
