<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://s.beta.myapp.com/myapp/rdmexp/exp/file/comagainfree002_65832_25f3f3ed-c653-4c5e-9d05-72dfe090160c.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://jabizb.cn/icon/largeImage.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.again.free002</string>
				<key>bundle-version</key>
				<string>6.5.8.32</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>神器黑色-更多好玩关注公众号：jabizb</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
