<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://d.pcs.baidu.com/file/a4910612d0ec40f73ef3d4fe61fb95c0?fid=178989203-250528-809604747901845&amp;time=1494586609&amp;rt=sh&amp;sign=FDTAERV-DCb740ccc5511e5e8fedcff06b081203-lgofB1tWl1iO5gjpteAYY9aDfiI%3D&amp;expires=8h&amp;chkv=1&amp;chkbd=0&amp;chkpc=&amp;dp-logid=3056569726359915506&amp;dp-callid=0&amp;r=605772134</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://7xweyh.com1.z0.glb.clouddn.com/Icon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://7xweyh.com1.z0.glb.clouddn.com/Icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tencent.xin.dailybuild</string>
				<key>bundle-version</key>
				<string>0.0.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>微信多开</string>
				<key>title</key>
				<string>微信多开-关注公众号：jabizb</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
