<?xml version="1.0" encoding="UTF-8"?>
						<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
						<plist version="1.0">
						<dict>
						   <key>items</key>
						   <array>
						       <dict>
						           <key>assets</key>
						           <array>
						               <dict>
						                   <key>kind</key>
						                   <string>software-package</string>
						                   <key>url</key>
						                   <string>http://down.weapp.com/apps/zb/001/66/22/09/5a0ea32a1a2ab4e164ada6c4.ipa</string>
						               </dict>
						               <dict>
						                   <key>kind</key>
						                   <string>display-image</string>
						                   <key>needs-shine</key>
						                   <true/>
						                   <key>url</key>
						                   <string>http://www.weapp.com/picture/app_ios/cn/001/66/22/09/mzl.cover.175x175-75.jpg</string>
						                   </dict>
						           </array>
						           <key>metadata</key>
						           <dict>
						               <key>bundle-identifier</key>
						               <string>com.wefeng.WPForumPortal</string>
						               <key>bundle-version</key>
						               <string>4.8.1</string>
						               <key>kind</key>
						               <string>software</string>
						               <key>subtitle</key>
						               <string></string>
						               <key>title</key>
						               <string>威锋千万果粉大本营</string>
						           </dict>
						       </dict>
						   </array>
						</dict>
						</plist>