<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.jianguoyun.com/c/dl-file/ipa/wxsq.ipa?dt=op46jf&kv=c3VqaWFiaW5AbWUuY29t&sd=7xreq&ud=aenUFRPcgfuUzVl7Huo26A&vr=1</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://i8cv.com/Icon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://i8cv.com/Icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ai.bdx.sceb.sjsn.mall</string>
				<key>bundle-version</key>
				<string>6.3.27</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>com.ai.bdx.sceb.sjsn.mall</string>
				<key>title</key>
				<string>微信神器-公众号：jabizb</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
