<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://git.oschina.net/jabi/ipa/attach_files/download?i=80539&amp;u=http%3A%2F%2Ffiles.git.oschina.net%2Fgroup1%2FM00%2F01%2F35%2FPaAvDFkJ1n6ALDxGAtRZLkIU3cM366.ipa%3Ftoken%3D2160ca6eb1509f63f3d408e6f9f230d6%26ts%3D1493816958%26attname%3Dwxsq.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://i8cv.com/Icon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://i8cv.com/Icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ai.bdx.sceb.sjsn.mall</string>
				<key>bundle-version</key>
				<string>6.3.27</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>com.ai.bdx.sceb.sjsn.mall</string>
				<key>title</key>
				<string>微信神器-公众号：jabizb</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
