<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://down.tutuapp.net/apps/zb/003/29/14/64/5bc0ae531a2ab4e164182961.ipa?md=d8cd38dead40252f4f68717ea619a433</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<string>NO</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<string>NO</string>
					<key>url</key>
					<string></string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.xunlei.iosthunder</string>
				<key>bundle-version</key>
				<string>5.31.1.4204</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>迅雷</string>
				<key>title</key>
				<string>迅雷beta-长期更新公众号:智网教派</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
