<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://app-global.pgyer.com/f1fbf31a1ed9566c012a6c98ab5c6532.ipa?e=1502809281&amp;attname=%E4%BC%81%E4%B8%9A%E7%89%88yalu102-%E5%85%B3%E6%B3%A8%E5%85%AC%E4%BC%97%E5%8F%B7%E2%80%9C%E6%B3%A5%E9%B3%85%E7%A7%91%E6%8A%80%E5%AD%A6%E5%A0%82%E2%80%9D%E5%9B%9E%E5%A4%8D%E2%80%9C%E8%B6%8A%E7%8B%B1%E2%80%9D%E8%8E%B7%E5%8F%96%E6%9C%80%E6%96%B0%E5%AF%86%E7%A0%81.ipa&amp;token=6fYeQ7_TVB5L0QSzosNFfw2HU8eJhAirMF5VxV9G:faMJgd4YbX03PgHF3JKxmkE6oRU=&amp;sign=419cbae4cdb0b24faad7b9558262cffe&amp;t=59930cc1</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://jabizb.cn/icon/largeImage.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://jabizb.cn/icon//smallImage.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>kim.cracksby.yalu102</string>
				<key>bundle-version</key>
				<string>1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>yalu102</string>
				<key>title</key>
				<string>yalu102-更多好玩关注公众号：jabizb</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
