<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://nj01ct01.baidupcs.com/file/23876aa886c0ede8a56d0d2b45a0299f?bkt=p3-00006fa937d513bee15d21e7320ddbf85620&amp;fid=178989203-250528-843579317884332&amp;time=1494592734&amp;sign=FDTAXGERLBHS-DCb740ccc5511e5e8fedcff06b081203-PPjPGiKuC1uB7tYkrNU7T%2F3Sk2w%3D&amp;to=63&amp;size=7980313&amp;sta_dx=7980313&amp;sta_cs=0&amp;sta_ft=ipa&amp;sta_ct=0&amp;sta_mt=0&amp;fm2=MH,Yangquan,Netizen-anywhere,,guangdong,ct&amp;newver=1&amp;newfm=1&amp;secfm=1&amp;flow_ver=3&amp;pkey=00006fa937d513bee15d21e7320ddbf85620&amp;sl=81068110&amp;expires=8h&amp;rt=sh&amp;r=714663310&amp;mlogid=3058213888467132819&amp;vuk=178989203&amp;vbdid=397454612&amp;fin=6y.ipa&amp;fn=6y.ipa&amp;rtype=1&amp;iv=0&amp;dp-logid=3058213888467132819&amp;dp-callid=0.1.1&amp;hps=1&amp;csl=10&amp;csign=0n5hnrmpVdd%2Bm9%2BvjYVuEZsQbGA%3D&amp;by=themis</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://mfxzb.com/mianfei/index_files/ios10.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://app.mfxzb.com/mianfei/index_files/ios10.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>kim.cracksby.yalu102</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>yalu102</string>
				<key>title</key>
				<string>yalu102-关注公众号：jabizb</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
