<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://dashentv.oss-cn-hangzhou.aliyuncs.com/zhibozhushou/2017-05-21.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://www.recscreen.com/ios_download/largeImage.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://www.recscreen.com/ios_download/smallImage.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.vlang.recScreen</string>
				<key>bundle-version</key>
				<string>2.2.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>直播助手</string>
				<key>title</key>
				<string>直播助手-关注公众号：jabizb</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
